@font-face{
    font-family: 'Baskerville';
    src: url('libre-baskerville/LibreBaskerville-Bold.ttf') format('truetype'),
    url('libre-baskerville/LibreBaskerville-Italic.ttf') format('truetype'),
    url('libre-baskerville/LibreBaskerville-Regular.ttf') format('truetype');
}
     
@font-face{      
    font-family: 'Roboto';     
    src: url('roboto/Roboto-Regular.ttf') format('truetype'),     
    url('roboto/Roboto-Bold.ttf') format('truetype'),     
    url('roboto/Roboto-Italic.ttf') format('truetype'); 
}
body{
    background-color: #c8c8c8;
    font-family: 'Roboto';
}
.corpsdelapage{
    margin-top: -28px;
    margin-left: 100px;
    margin-right: 120px;
}
.corpsdelapage p,a,table{
    font-size: 16px;
}
.corpsdelapage a{
    color: red;
    font-weight: bold;
}
#titre1{
    text-align: center;
    font-size: 450%;
    padding-top: 10px;
}
h1,h2{
    font-family:'Baskerville', Arial, Helvetica, sans-serif;
}
#link1{
    color: red;
    font-weight: bold;
}
h2{
    color: red;
    font-weight: bold; 
}
table{
    border-collapse: collapse;
}
#titrecellule{
    text-align: center;
}
thead{
    background-color: #333333;
    color: white;
    font-weight: bold;
}
.lignetableau{
    background-color: #dddddd;
  ;
}
tbody tr:hover{
    background-color: #999999;
    cursor: pointer;
    
} 

figure{
    background-color: #333333;
    margin-right: 0px;
    margin-left: -2px;
    border:2px solid red;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
figure img{
    width: 600px;
    height: 500px;
    margin: 18px 18px 18px 18px;  
}

.paraghe4{
    margin-left: 18px;
    margin-right: 50px;
    border: 2px solid #4e41ae;
    border-style: dashed;
    background-color: #b7b7b7;
    padding: 14px;
}
.paraghe4 p{
    margin-left: 18px;
    margin-right: 13px;
    color: #4e41ae;
    font-size: 21px;
    line-height: 34px;
}


